body {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: aqua;
    background-color: black;
}

#displayed-image {
    display: none;
    margin: 0 auto;
    text-align: center;
    min-width: 30%;
    min-height: 30%;
    max-width: 40%;
    max-height: 40%;
  }

#reversed-image {
    display: none;
    margin: 0 auto;
    text-align: center;
  }